# 繼承 base.j2
{% extends "base.j2" %}


{% block main%}
<h1>TVDI</h1>
<h2>IDVT</h2>
<h3>{{request.path}}</h3>
{% endblock%}


{% block title%}
換個標題
{% endblock%}


{% block head%} {{super()}} {% endblock%}


#不知道的一律查找文件 jinja2 document

