{%extends '_base.j2'%}

{% block title%}
FAQS
{% endblock%}

{% block head%} {{super()}} {% endblock%}

{% block main%}
<div class='container'>
    <form method="POST">
        {{myForm.csrf_token}}
        {{myForm.email_field.name}} {{myForm.email_field(size=30)}}
        {{myForm.password_field.name}} {{myForm.password_field(size=50)}}
    
    </form>
</div>
{% endblock%}
